
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<br />
<pre>
    @Html.ActionLink("Home", "Index")
    @Html.ActionLink("Admin Login", "Login", "AdminLogin")
    @Html.ActionLink("Salesman Login", "Login", "SalesmenLogin")
    @Html.ActionLink("User Login", "Login", "UserLogin")
    @Html.ActionLink("User Sign Up", "Create", "Users")
</pre>
    