@model IEnumerable<SMSDataLayer.Record>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("Back To Home", "Home", "Salesmen")
</p>

@using (Html.BeginForm())
{
    <strong>Total Item Found: @Model.Count()</strong>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Salesman.SalesmanName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceTotal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Salesman.SalesmanName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceTotal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InvoiceId }) |
            @Html.ActionLink("Details", "Details", new { id=item.InvoiceId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InvoiceId })
        </td>
    </tr>
}

</table>
